<!DOCTYPE html>
<html>
  <head>
    <title>{{user.practice}} // NextRoom</title>
    <link rel="stylesheet" type="text/css" href="{{media}}nextroom.css" />
  </head>
  <body>

    <header>
      <h1>NextRoom // {{user.practice}}</h1>
      <nav id="main-nav">
	<a href="#app">App</a>
	<a href="/logout/">Logout</a>
      </nav>
    </header>

    <div role="main">
      <section id="app">
	<ul class="panel">
	  <li class="entry"><a href="#app/user">Users</a></li>
	  <li class="entry"><a href="#app/room">Rooms</a></li>
	  <li class="entry"><a href="#app/note">Notes</a></li>
	  <li class="entry"><a href="#app/task">Tasks</a></li>
	</ul>
      </section>
    </div>

    <footer></footer>

    <div id="template">
      <!-- This form is used for Room, Note, and Task details. -->
      <form class="panel room-detail note-detail task-detail">
	<ul class="fields">
	  <li class="field">
	    <label>Name</label>
	    <input type="text" name="name" />
	  </li>
	</ul>
	<div class="buttons">
	  <input type="submit" value="Save" class="submit button" />
	  <input type="button" value="Cancel" class="cancel button" />
	</div>
      </form>

      <!-- This form is used for User details. -->
      <form class="panel user-detail">
	<ul class="fields">
	  <li class="field">
	    <label>Name</label>
	    <input type="text" name="name" />
	  </li>
	  <li class="field">
	    <label>Role</label>
	    <select name="type" id="edit_types">
	      <option value="">Choose...</option>
	      {% for val, key in user_types %}
	        <option value="{{val}}">{{key}}</option>
	      {% endfor %}
	    </select>
	    <select name="type" id="add_types">
	      <option value="">Choose...</option>
	      {% for val, key in add_types %}
	        <option value="{{val}}">{{key}}</option>
	      {% endfor %}
	    </select>
	  </li>
	  <li class="field">
	    <label>PIN</label>
	    <input type="text" name="pin" />
	  </li>
	  <li class="field">
	    <a>Choose Color</a>
	    <input type="text" name="color" />
	  </li>
	  <li class="field checkbox-field">
	    <label>Site User</label>
	    <input type="checkbox" name="is_site_user" />
	  </li>
	</ul>
	<ul class="fields website-fields">
	  <li class="field">
	    <label>Email</label>
	    <input type="text" name="email" />
	  </li>
	  <li class="field">
	    <label>Password</label>
	    <input type="password" name="password" />
	  </li>
	</ul>
	<div class="buttons">
	  <input type="submit" value="Save" class="submit button" />
	  <input type="button" value="Cancel" class="cancel button" />
	</div>
      </form>

    </div>

    <script type="text/javascript" src="{{media}}jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="{{media}}jquery.history.js"></script>
    <script type="text/javascript" src="{{media}}nextroom.js"></script>
  </body>
</html>
