<!DOCTYPE html>
<html class="{% block html_class %}{% endblock %}">
  <head>
    <title>{{user.practice}} // NextRoom</title>
    <link rel="stylesheet" type="text/css" href="{{media}}css/nextroom.css" />
    <link rel="shortcut icon" href=/media/images/favicon.ico>
  </head>
  <body>

    <div id="header_background" class="shadow">
        <div class="wrapper">
            <a href="/">NextRoom</a>
        </div>
    </div>

    {% block body_content %}
    <div class="wrapper">
        <header>
          <h1>{{user.practice}}</h1>
          <nav id="main-nav">
            <ul>
            	<li class="nav_application selected">
                    <a href="#!app">Application</a>
            	</li>
            	<li class="nav_account">
                    <a href="#!account">Account</a>
            	</li>
            	<li class="nav_help">
                    <a href="#!help">Help</a>
            	</li>
            	<li class="nav_logout">
                    <a href="/logout/">Logout</a>
            	</li>
            </ul>
          </nav>
        </header>

        <div id="content">
            <div role="main">
              <section id="app">

		<div id="app-menu" class="panel static">
		  <ul class="content">
                    <li class="entry menu_users"><a href="#!app/user">Users</a></li>
                    <li class="entry menu_rooms"><a href="#!app/room">Rooms</a></li>
                    <li class="entry menu_tasks"><a href="#!app/task">Tasks</a></li>
                    <li class="entry menu_notes"><a href="#!app/note">Notes</a></li>
		  </ul>
		</div>

		<div id="app-kind" class="panel"><div class="content stub"></div></div>
		<div id="app-editor" class="panel"><div class="content stub"></div></div>

		<div id="app-tips" class="panel">
		  <div class="content">
		    <h3 class="tips_and_tools">Tips &amp; Tools</h3>

		    <div class="user-tips tips">
		      <section>
			<div class="unit">
			  <h4>Adding Users</h4>
			  <p class="figure">
			    <img src="/media/service/css/images/lightbox_adding_users_small.jpg" class="small" />
			    <img src="/media/service/css/images/lightbox_adding_users_large.jpg" class="large" />
			  </p>
			  <p class="teaser">Adding a user here creates
			    a new doctor or nurse within the app.</p>
			</div>

			<div class="unit">
			  <h4>Reordering Users</h4>
			  <p class="teaser">If desired, click and drag
			    the users to manually reorder the list.</p>
			</div>

			<div class="unit">
			  <h4>Editing Users</h4>
			  <p class="teaser">Simply click the existing
			    user, edit the user name, and select "save".</p>
			</div>
		      </section>

		      <section>
			<div class="unit">
			  <h4>Creating a PIN#</h4>
			  <p class="figure">
			    <img src="/media/service/css/images/lightbox_creating_a_pin_small.jpg" class="small" />
			    <img src="" class="large" />
			  </p>
			  <p class="teaser">PIN numbers allow users to
			  securely log into the NextRoom app.</p>
			</div>
		      </section>

		      <section>
			<div class="unit">
			  <h4>Color Picker</h4>
			  <p class="figure">
			    <img src="/media/service/css/images/lightbox_color_picker_small.jpg" class="small" />
			    <img src="" class="large" />
			  </p>
			  <p class="teaser">Assigning a color to each
			  user allows quick scanning within the
			  app.</p>
			</div>
		      </section>
		    </div>

		    <div class="room-tips tips">
		    </div>

		    <div class="task-tips tips">
 		    </div>

		    <div class="note-tips tips">
		    </div>
		  </div>
		</div>

              </section> <!-- #app -->

	      <section id="account">
		<div id="account-editor" class="panel">
		  <h2>Account</h2>

		  <div id="account-name" class="block">
		    <div class="block-title">
		      <h3>NextRoom App Account Name</h3>
		      <a href="#" class="show-help action">?</a>
		    </div>
		    <div class="block-content">
		      <div class="text">{{user.practice.app_auth_name}}</div>
		    </div>
		  </div>

		  <form id="practice-email" class="block">
		    <div class="block-title">
		      <h3>Practice Contact Email</h3>
		      <a href="#" class="edit action">Edit</a>
		    </div>
		    <div class="block-content">
		      <div class="input">
			<input type="text" name="email" value="" />
			<input type="submit" value="Save" class="save" />
		      </div>
		    </div>
		  </form>

		  <form id="practice-name" class="block">
		    <div class="block-title">
		      <h3>Practice Name</h3>
		      <a href="#" class="edit action">Edit</a>
		    </div>
		    <div class="block-content">
		      <div class="shield input">
			<input type="text" name="name" value="" />
			<input type="submit" value="Save" class="save" />
		      </div>
		    </div>
		  </form>

		  <form id="cancel-account" class="block">
		    <div class="block-title">
		      <h3>Cancel this Account</h3>
		      <a href="#!account/cancel" class="cancel action">Cancel</a>
		    </div>
		    <div class="block-content">
		      <p>Duis et nisl sapien, sed tincidunt magna. Donec
			tempor, quam quis imperdiet dignissim, lectus eros
			adipiscing mauris.</p>

		      <div class="proceed">
			<label>Do you want to cancel this account?</label>
			<span class="buttons">
			  <input type="button" value="No, Wait!" class="cancel button" />
			  <input type="button" value="Yes" class="yes button" />
			</span>
		      </div>
		    </div>
		  </form>
		</div>

		<div id="account-tips" class="panel">
		  <div class="content">
		    <h3 class="tips_and_tools">Tips &amp; Tools</h3>

		    <div class="account-tips tips">
		      <section>
			<div class="unit">
			  <h4>Account Name</h4>
			  <p class="figure">
			    <img src="" class="small" />
			    <img src="" class="large" />
			  </p>
			  <p class="teaser">Nullam neque elit, blandit
			    non vulputate et, varius ut sem.</p>
			</div>
		      </section>
		    </div>

		  </div>
		</div>

	      </section> <!-- #account -->

              <div class="clear"></div>
            </div> <!-- role="main" -->

            <div id="help">
	      <h2>NextRoom Help</h2>

	      <p>Phasellus tincidunt, sem non malesuada bibendum, arcu
	      quam tempor elit, et lacinia orci orci id lectus. Donec
	      suscipit, eros eget dignissim dignissim, nisl odio
	      dapibus urna, sit amet sodales sem dolor at justo.</p>

	      <div class="buttons">
		<input id="close-help" type="button" value="Close" />
	      </div>
	    </div>


            <div id="template">
              <!-- This form is used for Room, Note, and Task details. -->
              <form class="panel room-detail note-detail task-detail" role="form">
              <h3>New</h3>
            <ul class="fields">
              <li class="field">
                <span class="input"><input type="text" name="name" placeholder="Name" /></span>
              </li>
            </ul>
            <div class="buttons">
              <input type="button" value="Cancel" class="cancel button" />
              <input type="submit" value="Save" class="submit button" />
            </div>
              </form>

              <!-- This form is used for User details. -->
              <form class="panel user-detail" role="user-form form">
              <h3>New User Details</h3>
            <ul class="fields">
              <li class="field">
                <span class="input"><input type="text" name="name" placeholder="Name" /></span>
              </li>
              <li class="field">
                <select name="type">
                  <option value="">Choose...</option>
                  {% for val, key in add_types %}
                    <option value="{{val}}">{{key}}</option>
                  {% endfor %}
                </select>
              </li>
              <li class="field">
                <span class="input"><input type="text" name="pin" placeholder="PIN # (4-digit)" /></span>
              </li>
              <li class="field">
                <label>Choose Color</label>
                <input type="text" name="color" />
              </li>
              <li class="field checkbox-field">
                <label for="is-site-user">Web Access</label>
                <input type="checkbox" id="is-site-user" name="is_site_user" />
              </li>
            </ul>
            <ul class="fields website-fields">
              <li class="field">
                <span class="input"><input type="text" name="email" placeholder="Email" /></span>
              </li>
              <li class="field">
                <span class="input"><input type="password" name="password" placeholder="Password" /></span>
              </li>
            </ul>
            <div class="buttons">
              <input type="button" value="Cancel" class="cancel button" />
              <input type="submit" value="Save" class="submit button" />
            </div>
              </form>

              <!-- This form is used for "special" users -->
              <form class="panel special-user-detail" role="form">
            <ul class="fields">
              <li class="field">
                <input type="text" name="name" disabled="disabled" />
              </li>
              <li class="field">
                <a>Choose Color</a>
                <input type="text" name="color" />
              </li>
            </ul>
            <div class="buttons">
              <input type="button" value="Cancel" class="cancel button" />
              <input type="submit" value="Save" class="submit button" />
            </div>
              </form>

            </div><!-- END TEMPLATE ID -->
        </div><!-- END CONTENT ID -->



    </div><!-- END WRAPPER CLASS -->
    <footer>
        <img src="{{ media }}css/images/footer_icon.png" alt="NextRoom Icon" />
    </footer>
        <script type="text/javascript" data-main="main" src="{{media}}require-jquery-1.4.3.js"></script>
    {% endblock %}
  </body>
</html>
