{% extends "service/admin/base.html" %}
{% block html_class %}login{% endblock %}
{% block body_content %}
    <div id="password_reset">
        <h1 class="password_recovery">Password Recovery</h1>
        <h3>Enter an email adress associated with your account.</h3>
        <form action="" method="post">
            <span class="input"><input type="text" name="email" placeholder="email address" /></span>
            <input type="submit" value="Continue" />
        </form>
        <div id="reset_instructions">
            <h3>We will send you an email with instructions to reset your
            password.</h3>
        </div>
    </div>
{% endblock %}

