{% extends "service/admin/base.html" %}
{% block html_class %}login{% endblock %}
{% block body_content %}
    <div id="password_reset">
        <h1 class="password_recovery">Password Recovery</h1>
        <h3>Enter an email adress associated with your account.</h3>
        <form action="" method="post">
            <span class="input"><input type="text" name="email" placeholder="email address" /></span>
            <input type="submit" value="Continue" />
        </form>
        <div id="reset_instructions">
        {% if not valid %}
            <h3>No user was found with that email address.</h3>
        {% else %}
            {% if not mail_err %}
                {% if not reset_sent %}
                <h3>We will send you an email with instructions to reset your
                password.</h3>
                {% else %}
                <h3>A temporary password has been emailed to you.</h3>
                {% endif %}
            {% else %}
                <h3>An error occurred emailing password recovery instructions.</h3>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

