{% extends "service/admin/base.html" %}
{% block html_class %}login{% endblock %}
{% block body_content %}
    <div id="password_reset" class="{% if not valid %}not_valid{% endif %}{% if mail_err %} mail_error{% else %} {% if reset_sent %}email_sent{% endif %}{% endif %}">
        <h1 class="password_recovery">Password Recovery</h1>
        <div id="reset_form">
            <h3>Enter an email adress associated with your
              account. Or <a href="/">go back</a> &#187;</h3>
            <form action="" method="post">
                <span class="input"><input type="text" name="email" placeholder="email address" /></span>
                <input type="submit" value="Continue" />
            </form>
        </div>
        <div id="reset_instructions">
        {% if not valid %}
            <h3>No user was found with that email address. Please <a href=".">try again.</a> &#187;</h3>
        {% else %}
            {% if not mail_err %}
                {% if not reset_sent %}
                <h3>We will send you an email with instructions to reset your password.</h3>
                {% else %}
                <h3>Check your email for recovery instructions, then go back to <a href="/">sign in</a>. &#187;</h3>
                {% endif %}
            {% else %}
                <h3>That email was not recognized. Please <a href=".">try again.</a> &#187;</h3>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

