{% extends "service/admin/base.html" %}

{% block body_content %}
    <div id="login_box">
        <h1>Welcome to NextRoom</h1>
        <h3>Enter the information associated with your account.</h3>
        {% comment %}
        {% if not valid %}
        <h3>Login error</h3>
        {% endif %}
        {% endcomment %}
        <form action="" method="post">
            <input type="text" name="email" />
            <input type="password" name="password" />
            <input type="submit" value="Sign In" />
        </form>
    </div>
{% endblock %}