{% extends "service/admin/base.html" %}
{% block html_class %}login{% endblock %}
{% block body_content %}
    <div id="login_box">
        <h1 class="welcome_to_nextroom">Welcome to NextRoom</h1>
        <h3>Enter the information associated with your account.</h3>
        {% comment %}
        {% if not valid %}
        <h3>Login error</h3>
        {% endif %}
        {% endcomment %}
        <form action="" method="post">
            <span class="input"><input type="text" name="email" placeholder="email address" /></span>
            <span class="input"><input type="password" name="password" placeholder="password" /></span>
            <input type="submit" value="Sign In" />
        </form>
    </div>
{% endblock %}