@import url(reset.css);

/* ## Base ## */

html {
    font-size: 12pt; }

body {
    width: 60em;
    margin: 2em auto; }


/* ## Header ## */

header {
    position: relative;
    margin-bottom: 2em; }

header h1 {
    font-size: 1.4em; }

header nav {
    position: absolute;
    line-height: 1.4em;
    bottom: 0;
    right: 0; }


/* ## Footer ## */

footer {
    clear: both; }


/* ## Main ## */

[role="main"] section {
    display: none; }

#template {
    display: none; }

.fields {
    display: block; }

.field {
    display: block;
    list-style-type: none; }

.field label {
    display: block;
    font-weight: bold; }

.buttons {
    text-align: right; }


/* ## App ## */

#app {
    font-size: 1.6em; }

#app .panel {
    display: block;
    float: left;
    margin-right: 1em; }

#app .header, #app .entry {
    position: relative;
    display: block;
    list-style-type: none;
    margin-bottom: 0.4em; }

#app .header span, #app .entry a {
    display: block;
    padding: 0.2em 1.8em 0.2em 0.4em;
    border-radius: 4pt; }

#app .header span {
    background-color: #666; }

#app .entry a {
    background-color: #eee;
    color: blue;
    text-decoration: none; }

#app .drag a {
    background-color: red; }

#app .over a {
    background-color: yellow; }

#app .panel .delete, #app .panel .add {
    position: absolute;
    bottom: 0;
    right: 0; }

#app .panel a:hover {
    background-color: blue;
    color: white; }


