@import url(reset.css);
@import url(ui.css);

/* ## Base ## */

html {
    font-size: 12px;
    background: #d2d2d2 url(images/main_bg.jpg) 50% 0 repeat-x;
    min-width: 960px;
    border-left: 1px solid #fff;
    overflow-y:scroll;    
}
html.login {
    background: #d0d0d0 url(images/main_bg-login.jpg) 50% 0 repeat-x;

}

body {
    font-family: verdana, sans-serif;
    padding-bottom: 60px;
}

select, input, textarea {
    font-family: verdana, sans-serif;
}

h1, h2, h3, h4, h5 {
    color: #797979;
    font-weight: normal;
}

h1 { font-size: 22px; }
h2 { font-size: 18px; }
h3 { font-size: 12px; }

[unselectable=on] { -moz-user-select: none; -khtml-user-select: none; user-select: none; }

input[type=submit] {
    background: #a9a9a9 url(images/submit_button_bg.png) 0 0 repeat-x;
    border: 1px solid #848484;
    border-radius: 5px;
    color: #fff;
    padding: 5px 10px;
    margin: 0;
    text-shadow: 1px 1px 1px #717171;
    -moz-box-shadow: 0px 1px 3px #888;
    -webkit-box-shadow: 0px 1px 3px #888;
    box-shadow: 0px 1px 3px #888;
    cursor: pointer;
    position: relative;
}
input[type=submit]:hover {
    background: #bfbfbf url(images/submit_button_bg_hover.png) 0 0 repeat-x;
    -moz-box-shadow: 0px 0px 0px #888;
    -webkit-box-shadow: 0px 0px 0px #888;
    box-shadow: 0px 0px 0px #888;
    border-color: #a2a2a2;
}
input[type=submit]:active {
    top: -1px;
}

input[disabled=disabled] {
    border: 0px;
    background: none;
    
}

input.cancel {
    background: none;
    border: 0;
    color: #595959;
    text-decoration: underline;
    font-size: 11px;
}

form span.input {
    border: 1px solid #fff;
    border-radius: 5px;
    display: block;
    width: 150px;
}
#login_box form span.input {
    position: relative;
    float: left;
    margin-right: 10px;
}
form span.input input {
    margin:0;
    padding: 5px;
    background: #f7f6f2;
    border: 1px solid #e3e3df;
    border-top-color: #bdbcb9;
    border-bottom: 0;
    border-radius: 3px;
    width: 138px;
}

.panel form span.input {
    width: 193px;
}
.panel form span.input input {
    width: 181px;
    background: #f7f7f7;
}

/* ## IDs ## */
#header_background {
    height: 45px;
    width: 100%;
    min-width: 960px;
    background: #ececec;
    border-bottom: 1px solid #fff;
}

#header_background a {
    display: block;
    width: 92px;
    height: 95px;
    position: absolute;
    top: 2px;
    left: 0px;
    text-indent: -9999px;
    background: url(images/nextroom-logo.png) 0 0 no-repeat;
}

#login_box {
    width: 440px;
    margin: 100px auto 0;
    position: relative;
}

#login_box h1.welcome_to_nextroom {
    text-indent: -9999px;
    width: 253px;
    height: 19px;
    background: url(images/h1_welcome_to_nextroom.png) 0 0 no-repeat;
    margin: 0 0 10px;
}

#login_box h3 {
    margin-bottom: 20px;
}

#content {
    position: relative;
    padding: 100px 0 0;
}


/* ## classes ## */
.wrapper {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

.shadow {
    -moz-box-shadow: 0px 3px 3px #bbb;
    -webkit-box-shadow: 0px 3px 3px #bbb;
    box-shadow: 0px 3px 3px #bbb;
}

.clear {
    clear: both;
}

a.up {
    padding-right: 10px;
    background: url(images/back_to_top.png) 100% 2px no-repeat;
    font-size: 11px;
}

/* ## Header ## */

header {
    position: absolute;
    width: 860px;
    top: -46px;
    right: 0;
    margin-bottom: 2em;
}

header h1 {
    font-family: arial;
    font-weight: bold;
    font-size: 19px;
    position: absolute;
    top: 60px;
    left: 0;
    color: #838384;
    text-shadow: 1px 1px 1px #fff;
}

header nav {
    position: absolute;
    line-height: 1.4em;
    top: 0;
    right: 0;
}
header nav ul {
    margin: 0;
    padding: 0;
}
header nav ul li {
    display: block;
    position: relative;
    float: left;
    width: 133px;
    height: 45px;
    overflow: hidden;
}

header nav ul li a {
    background: url(images/main_nav.png) 0 0 no-repeat;
    display:block;
    width: 100%;
    height: 90px;
    text-indent: -9999px;
}
header nav ul li.selected a,
header nav ul li a:hover {
    margin-top: -45px;
}
header nav ul li.nav_account {
    width: 100px;
}
header nav ul li.nav_account a {
    background-position: -133px 0;
}
header nav ul li.nav_help {
    width: 82px;
}
header nav ul li.nav_help a {
    background-position: -233px 0;
}
header nav ul li.nav_logout {
    width: 102px;
}
header nav ul li.nav_logout a {
    background-position: -315px 0;
}

/* ## Footer ## */

footer {
    clear: both;
    width: 100%;
    height: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
    background: #ececec url(images/footer_bg.png) 0 0 repeat-x;
}
footer img {
    margin: 10px 0 0 10px;
}


/* ## Main ## */

[role="main"] > section {
    display: none;
}

#template {
    display: none;
}

.fields {
    display: block;
}

.field {
    display: block;
    list-style-type: none;
    margin-bottom: 0.6em;
}

form h3, 
.field label {
    font-size: 12px;
    display: block;
    font-weight: bold;
    color: #666;
    font-family: helvetica, arial, sans-serif;
    text-transform: uppercase;
}
form h3 {
    margin: 0 0 10px;
}

.checkbox-field label {
    display: inline;
}

.buttons {
    margin-top: 0.4em;
    text-align: right;
}


/* ## App ## */

#app {
}

#app .panel {
    position: relative;
    display: block;
    float: left;
    overflow: hidden;
    padding-bottom: 1px;
    margin-right: 20px;
    width: 220px;
}
#app #app-editor {
    width: 221px;
    background: url(images/watermark_users.png) 50% 0 no-repeat;
}
#app .panel:last-child {
    margin-right: 0;
}

#app-editor form.panel, 
#app-tips div.content {
    background: #f3f3f3 url(images/panel_bg.png) 0 0 repeat-x;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 218px;
    -moz-box-shadow: 0px 1px 1px #888;
    -webkit-box-shadow: 0px 1px 1px #888;
    box-shadow: 0px 1px 1px #888;
}
#app-editor form.panel {
    padding: 10px;
    width: 199px;
}
#app-tips h3.tips_and_tools {
    text-indent: -9999px;
    width: 195px;
    height: 38px;
    background: url(images/h3_tips_and_tools.png) 0 0 no-repeat;
    margin: 10px 11px 10px;

}

#app-tips section {
    padding: 10px 11px;
    background: url(images/tips_and_tools_section_hr.png) 0 0 no-repeat;
}
#app-tips section:first-child {
    background: none;
    padding-top: 0;
}


#app .panel input[type=submit] {
    padding: 4px 6px;
    font-size: 11px;
}

#app .panel > .content {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    opacity: 0;
    left: -100%;
}

#app .active > .content, #app .static > .content {
    opacity: 1;
    left: 0;
}

.panel > .stub {
    height: 400px;
    background-color: #ddd;
}

.header, .entry {
    position: relative;
    display: block;
    list-style-type: none;
    border-radius: 5px;
    margin: 0 0 5px 0;
    background: #efefef url(images/button_gradient.png) 0 0 repeat-x;
    color: #6c6c6c;
    border: 1px solid #fff;
    line-height: 30px;
    font-weight: bold;
}

#app .header {
    margin: 0;
    height: 42px;
    border-radius: 0;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.header .title {
    text-align: right;
    padding-right: 40px;
    font-size: 11px;
    line-height: 42px;
    font-weight: normal;
    font-style: italic;
}

#app .entry:hover {
    color: #0cac98;
}

#app #app-menu .entry {
    width: 220px;
    height: 45px;
    overflow: hidden;
    border: 0;
    background: none;
}
#app #app-menu li a {
    display: block;
    background: url(images/sidebar_nav.png) 0 0 no-repeat;
    width: 440px;
    height: 100%;
    text-indent: -9999px;
}
#app #app-menu li.menu_rooms a { background-position: 0 -51px; }
#app #app-menu li.menu_tasks a { background-position: 0 -102px; }
#app #app-menu li.menu_notes a { background-position: 0 -154px; }

#app #app-menu li.selected a,
#app #app-menu li a:hover {
    margin-left: -220px;
}

#app .sortable .entry {
    border-radius: 0;
    border-bottom: 0;
    border-top-color: #9e9e9e;
    margin: 0;
    background: #e9e9e9 url(images/sortable_handle.png) 0 0 no-repeat;
    padding: 0 0 0 30px;
    height: 32px;
    line-height: 32px;
    font-weight: bold;
    font-size: 12px;
    font-family: helvetica, arial, sans-serif;
}

#app .sortable .entry:last-child {
    border-bottom: 1px solid #fff;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-box-shadow: 0px 1px 1px #888;
    -webkit-box-shadow: 0px 1px 1px #888;
    box-shadow: 0px 1px 1px #888;
}

.header span,
.entry a {
    display: block;
}

.entry a {
    color: inherit;
    text-decoration: none;
    cursor: inherit;
}

.entry .delete,
.header .add {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#app .header .add {
    background: url(images/button_add_bg.png) 0 0 repeat-x;
    line-height: 14px;
    height: 23px;
    width: 23px;
    border-radius: 11px;
    color: #fff;
    cursor: pointer;
    text-indent: -9999px;
    border: 0;
}
#app .header .add:hover {
    background-position: 0 -23px;
}
#app .header .add:active {
    background-position: 0 -46px;
}

#app .entry .delete {
    bottom: 3px;
    background: url(images/button_delete_bg.png) 0 0 repeat-x;
    height: 24px;
    width: 23px;
    border-radius: 11px;
    color: #fff;
    cursor: pointer;
    text-indent: -9999px;
    border: 0;
}
#app .entry .delete:hover {
    background-position: 0 -24px;
}
#app .entry .delete:active {
    background-position: 0 -48px;
}

.special .delete {
    display: none;
}

.sortable > .entry {
    cursor: move;
}

.sortable > .before {
    margin-top: -5px;
    border-top: 5px solid #666;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.sortable > .after {
    margin-bottom: 0px;
    border-bottom: 5px solid #666;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#app .sortable > .saving {
    background-color: #fbffd3;
}

.user-detail .website-fields {
    margin-top: 1em;
    display: none;
}

.user-detail .website-fields.active {
    display: block;
}

/* ## Help ## */

#help {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 300px;
    height: 200px;
    background-color: #eee;
    display: none;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    -moz-box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.5);
}




.up {
    display: block;
    margin-top: 1em;
    text-align: right;
    font-family: helvetica, arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #6c6c6c;
    text-decoration: none;
}

#app-tips h3 {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 1em;
}

.tips {
    display: none;
}

.user-selected .user-tips,
.room-selected .room-tips,
.task-selected .task-tips,
.note-selected .note-tips {
    display: block;
}

.unit {
    margin-bottom: 24px;
}

.unit h4 {
    font-size: 12px;
    color: #595959;
    font-family: helvetica, arial, sans-serif;
    font-weight:bold;
    margin: 14px 0 6px;
}

.unit p {
    margin-bottom: 0.5em;
    font-size: 10px;
    color: #666;
    line-height: 1.4;
}

.unit .figure {
    position: relative;
    width: 195px;
    height: 63px;
    overflow: hidden;
}

.unit .small {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.unit .large {
    display: none;
}

.unit .figure .expand {
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    width: 195px;
    height: 63px;
    background: url(images/sidebar_lightbox_mag_wrap.png) 0 0 no-repeat;
    text-indent: -9999px;
}

.unit > .expand {
    display: block;
    color: #17baab;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
    font-family: helvetica, arial, sans-serif;
}