/*
## Form Errors ##

Forms are structured as field lists. Each `li.field` has a `.input`
child element.

When a field is in an error state, the `li` gets an "error" class. All
errors go into a ".error" element that's appended to the form.

*/

form {
    position: relative;
}

form .error input {
    border: 1px solid red; /* pink stroke */
}

form .errors {
    display: block;
    color: red; /* pink */
}

form .errors > * {
    display: none;
}

form .errors > .active {
    display: block;
}

#app-editor form.panel .errors {
    position: absolute;
    bottom: 5px;
    left: 0;
    padding: 10px;
    font-size: 10px;
    line-height: 11px;
}

/*
## Account Section ##

The account section is a bunch of large blocks with messages or single
inputs inside.

The inputs have a "shields up" effect while saving. The Save button
expands left to cover the input. When the save-request has finished,
the shield slides back into a button shape.
*/

#account-editor > h3 {

}

#account .block {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
}

#account .block-title {
    position: relative;
}

#account .block-title h3 {
    display: inline-block;
    width: 30%;
    margin: 0;
}

#account .block-title .action {
    display: inline-block;
    width: 69%;
}

#account .block-content {
    margin-top: 10px;
}

#cancel-account .block-content {
    display: none;
}

#cancel-account.active .block-content {
    display: block;
}

#cancel-account .block-title .action {
    text-align: right;
}

#cancel-account .proceed {
    margin: 10px 0;
}

#cancel-account .proceed label {
    display: inline-block;
    width: 50%;
}

#cancel-account .buttons {
    display: inline-block;
    width: 49%;
}

#account-tips {
    display: none;
}